[user]
	email = <> 
	name = Shaun Dunning

[alias]
	ls="log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
	files="!f() { git diff-tree --no-commit-id --name-only -r $1; }; f"
	rmbranch="!f() { git branch | grep -v 'master' | grep -v ^* | xargs git branch -D; }; f"

[core]
	excludesfile = /Users/shaund/.gitignore_global
